## 汎用コマンド

alias ls='ls --color=auto'
alias la='ls -A'
alias ll='ls -lhA'

alias grep='grep --color=auto'

alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'

alias df='df -h'
alias du='du -h'

alias relogin='exec ${SHELL} -l'

alias oj-s-pypy='oj s --no-open -l 4047'
function oj-t-py(){
    command oj t -c "python3 $1"
}